<!-- index.html.erb -->

<h1>MENSEN!</h1>

<table id="people">
 <tr>
  <th>Name</th>
 </tr>
 <tbody>
  <% @people.each do |person| %>
  <tr>
  	<td>
  	 <%= person.name %>
	</td>
  </tr>
  <% end %>

 </tbody>

</table>