
<h1>De patienten</h1>

<%= link_to('New patient', new_patient_path) %>

<table id="patients">
 <tr>
  <th>Name</th>
 </tr>
 <tbody>
  <% @patients.each do |patient| %>
 
  <tr>
    <td>
     <a href='<%= patient_path(patient) %>'>
     <%= patient.name %>
     </a>
  </td>
  </tr>
  <% end %>

 </tbody>

<% if flash[:notice] %>
  <div data-alert class='alert-box notice'>
    <%= flash[:notice] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>


</table>